#scrolling-message {
    white-space: nowrap;
    animation: scrolling  8s linear infinite;
    font-size: 50px;
    color: rgba(150, 0, 0 , 0.85);
}

.scrollback {
    width: 100%;
    overflow: hidden;
    background-color: rgba(200, 255, 50, 0.7);
}

@keyframes scrolling {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-120%);
    }
}
.divnavi {
   float: left;
   border: 2px solid ;
   border-radius: 5px ;
   margin: 4px;
   padding: 4px;   
}

.backnavicolor {
    background-color: rgba(10, 150,100,0.5);
}
.backcolor {
    background-color: rgba(150, 50,255,0.5);
}

